.footer {
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    background: #222831;
}
.txt1 {  
    margin-left: 10px;
}
.logo {
    width: ; 
    margin-top: ;
    position: absolute;
.txt2 {
    margin-left:  ;
}
